.container {
	display: inline-flex;
	flex-direction: row;
	float: left;
	height: 100%;
	width: 100%;


	

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	
}

.item	{
	border: .1em solid rgb(82,150,210);
	float: left;
	display: inline-flex;
	position: static;


	margin: 1.5em;
	width: 200px;
	height: 50%;
	padding: 0em;



}

li {
	list-style: none;



	
}
img {
	height: 33%;
	width: 30%;
	
}

span {
	border: .1em solid rgb(82,150,210);
	float: left;
	direction: ltr;
	display: inline-flex;
	height: 100%;

	
}

.flex-item-small {
	flex: 1 100%;
}